* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.auth {
  width: 100vw;
  height: 100vh;
  background-color: rgb(31, 42, 42);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5%;
  align-items: center;
}

.auth-box {
  background-color: lightslategray;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  justify-content: space-evenly;
  min-height: 25%;
}

.auth-button {
  outline: none;
  border: 1px solid white;
  padding: 5px;
  background-color: black;
  color: white;
  border-radius: 0;
  margin: 0 10px;
  cursor: pointer;
}

.secret-stuff {
  width: 40%;
  height: 25%;
}

.hidden {
  background-color: darkseagreen;
}

.hidden::after {
  content: 'SECRET STUFF IS HIDDEN';
}

.revealed {
  background-image: url('https://twilio-cms-prod.s3.amazonaws.com/images/21VC0iKKbFDAY_yVLwtESY3v5-C2KbIh8B-B0q7yU2CGeI.width-808.png');
  background-size: 100%;
  background-position: cover;
  background-repeat: no-repeat;
}

.error {
  color: red;
  font-size: 11px;
}
